body { margin:0; font-family:'Segoe UI'; text-align:center; background: linear-gradient(to bottom,#f9d976,#f39f86); }
.container { padding:20px; }
img#doge { width:180px; cursor:pointer; transition:0.2s; }
img#doge:active { transform:scale(1.1); }
button { padding:10px 20px; font-size:16px; background:#ff9900; border:none; border-radius:6px; color:white; cursor:pointer; }
button:hover { background:#e68a00; }
